__pycache__/
API.log
src/init_mysql.sql
.LLM_DB
*.py[cod]
*$py.class
.env
*.db
.pytest_cache/
models/
models/Meta-Llama-3.1-8B-Instruct-Q4_K_M.gguf
*.gguf
*.bin
*.safetensors
reports_execution.log
chroma_db/
*.sqlite3

