oracledb
langchain
langchain-community
langchain-openai
langchain-experimental
sqlalchemy
python-dotenv
pymysql
langchain-huggingface
transformers
torch
gguf
llama-cpp-python
huggingface_hub
fastapi
uvicorn
